{% extends 'base.html' %}
{% load static %}

{% block title %}Cart | Cake Spot{% endblock %}

{% block content %}

<section class="cart-page">

    <h1>Your Cart</h1>

    <div class="cart-header">
        <div>Item</div>
        <div>Price</div>
        <div>Quantity</div>
        <div>Total</div>
    </div>

    {% for item in cart_items %}
    <div class="cart-row">

        <div class="cart-product">

            <a href="{% url 'product_detail' item.product.slug %}">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            </a>

            <div>
                <h3>
                    <a href="{% url 'product_detail' item.product.slug %}" class="cart-product-link">
                        {{ item.product.name }}
                    </a>
                </h3>
                <p>{{ item.egg_type }} / {{ item.weight }}</p>

                {% if item.message %}
                <small>Message: {{ item.message }}</small>
                {% endif %}
            </div>
        </div>

        <div class="cart-price">
            ₹{{ item.price }} each
        </div>

        <div class="cart-qty-wrapper">

            <div class="cart-qty">

                <a href="{% url 'decrease_cart' item.id %}" class="qty-btn">
                    -
                </a>

                <span class="qty-box">
                    {{ item.quantity }}
                </span>

                <a href="{% url 'increase_cart' item.id %}" class="qty-btn">
                    +
                </a>

            </div>

            <a href="{% url 'remove_cart' item.id %}"
            class="remove-link"
            onclick="return confirm('Remove this item?')">
                Remove
            </a>

        </div>

        <div class="cart-total">
            ₹{{ item.row_total }}
        </div>

    </div>
    {% empty %}
    <p class="empty-cart">Your cart is empty.</p>
    {% endfor %}

    <div class="cart-summary">

        <h3>Cart Total: ₹{{ total }}</h3>

        {% if shipping == 0 and total > 0 %}
            <h3>Shipping: Free</h3>
        {% else %}
            <h3>Shipping: ₹{{ shipping }}</h3>
        {% endif %}

        <h2>Grand Total: ₹{{ grand_total }}</h2>

        {% if total > 0 and total < 1199 %}
            <p class="shipping-note">
                Free shipping on orders ₹1199 and above.
            </p>
        {% endif %}

        <a href="{% url 'checkout' %}" class="checkout-btn">Checkout</a>
    </div>

</section>

{% endblock %}