{% extends 'base.html' %}

{% block title %}Signup | Cake Spot{% endblock %}

{% block content %}

<section class="auth-section">
    <div class="auth-box">
        <h2>Create Account</h2>
        <p>Join Cake Spot and order your favourite cakes easily.</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.first_name }}
            {{ form.email }}
            {{ form.phone }}
            {{ form.password1 }}
            {{ form.password2 }}

            <button type="submit">Signup</button>
        </form>

        <p class="auth-link">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</section>

{% endblock %}