{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}

<section class="category-page">

    <div class="section-title">
        <h2>{{ category.name }}</h2>
    </div>

    <div class="category-page-grid">

        {% for product in products %}

        <div class="category-page-card">

            <a href="{% url 'product_detail' product.slug %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>

            <h3>{{ product.name }}</h3>

            <p>₹{{ product.price|floatformat:0 }}</p>

        </div>

        {% empty %}

        <p>No cakes found in this category.</p>

        {% endfor %}

    </div>

</section>

{% endblock %}