{% extends 'base.html' %}

{% block title %}Request Submitted | Cake Spot{% endblock %}

{% block content %}

<section class="order-success-page">
    <div class="order-success-box">
        <h1>🎂 Thank You!</h1>

        <h2>Your custom cake request has been submitted successfully.</h2>

        <p class="success-note">
            Our team will contact you shortly to discuss the design and pricing.
        </p>

        <a href="/" class="continue-btn">Back To Home</a>
    </div>
</section>

{% endblock %}